<div class="container">
    </br>
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h1 class="text-danger">
                    Page Not Found</h1>
                <div class="error-details">
                    The page you are looking for is on a vacation!
                </div>
            </div>
        </div>
    </div>
</div>